.places__paragraph {
    color: white;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    margin: 0 0 26px 0;
}

.places__paragraph:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .places__paragraph {
        font-size: 16px;
        margin: 0 0 24px 0;
    }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
    .places__paragraph {
        font-size: 16px;
        margin: 0 24px 48px 24px;
    }
}

@media screen and (max-width: 320px) {
    .places__paragraph {
        font-size: 16px;
        margin: 0 16px 48px 16px;
    }
}