.header__caption {
    color: white;
    display: flex;
    align-self: start;
    margin: 8px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
}

@media screen and (max-width:1024px) {
    .header__caption {
        margin-left: 24px
    }
}

@media screen and (max-width:320px) {
    .header__caption {
        margin-left: 16px
    }
}