.header__lead {
    margin-top: 136px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .header__lead {
        margin-top: 106px;
    }
}