.footer__list {
    width: 100%;
    max-width: 1184px;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

@media screen and (min-width:320px) and (max-width:767px) {
    .footer__list {
        flex-direction: column;
        justify-content: start;
    }
}