.places__website {
    grid-area: website;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-self: flex-end;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .places__website {
        display: none;
    }
}