.intro__title{
    grid-column: 1/8;
    color: white;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 107%;
    margin: 0 0 40px 0;
}

@media screen and (max-width:1024px) {
    .intro__title{
        font-size: 54px;
    }
}

@media screen and (max-width:768px) {
    .intro__title{
        grid-column: 1/11;
        font-size: 10vw;
    }
}